body {
  background-image: url("../assets/background-2.png");
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: "Cutive Mono", monospace;
}

span {
  color: #f07167;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 8vh;
  margin-left: 20px;
  overflow: hidden;
  top: 0px;
  position: absolute;
  z-index: 999;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #f07167;
    color: white;
    text-decoration: none;
    &:hover, &:active {
      background-color: black;
      border: 1px solid white;
    }
  }
  @media screen and (max-width: 500px) {
    height: 4.5vh;
  }
}

// sections

section {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  height: 84vh;
  width: 100vw;
  h1 {
    margin: 0;
    padding: 20px 0 0 20px;
  }
  p {
    width: 50vw;
    padding: 20px 0 0 20px;
  }
  @media screen and (max-width: 500px) {
    height: 78vh;
    font-size: 12px;
    h1 {
      padding: 10px 0 0 10px;
    }
    p {
      width: 90%;
    }
  }
}

.home {
  background-color: black;
  color: white;
}

.about {
  background-color: white;
  .section-main {
    margin-right: 10vw;
    .technologies {
      margin: 20px;
      color: #f07167;
      font-size: 50px;
      @media screen and (max-width: 500px) {
        font-size: 20px;
      }
    }
  }
}

.portfolio {
  background-color: black;
  color: white;
  .section-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .grid {
      display: grid;
      grid-template-columns: 35vw 35vw;
      column-gap: 30px;
      row-gap: 30px;
      .project {
        width: 100%;
        height: 30vh;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        &:hover {
          box-shadow: 0 0 20px #f07167;
        }
      }
      @media screen and (max-width: 500px) {
        grid-template-columns: 74vw;
        .project {
          height: 10vh;
        }
      }
      .proj-one {
        background-image: url("../assets/jobr.png");
      }
      .proj-two {
        background-image: url("../assets/hikr.png");
        background-position: center;
      }
      .proj-three {
        background-image: url("../assets/dinder.png");
      }
      .proj-four {
        background-image: url("../assets/battleships.png");
      }
    }
  }
}

.project-show {
  background-color: black;
  color: white;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 20px;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #f07167;
    color: white;
    text-decoration: none;
  }
  .section-header {
    display: flex;
    justify-content: space-between;
    .jobr {
      font-family: 'Permanent Marker', cursive;
    }
    .hikr {
      font-family: 'Amatic SC', cursive;
      font-weight: 700;
      font-size: 36px;
    }
    .dinder {
      font-family: Arial, Helvetica, sans-serif;
    }
    .battleships {
      font-family: 'Orbitron', sans-serif;
    }
  }
  .section-main {
    margin: 20px 160px 20px 20px;
    height: 100%;
    border: 1px solid red;
    overflow: scroll;
    @media screen and (max-width: 500px) {
      margin: 18px;
    }
  }
}

.contact {
  background-color: white;
}
