body {
  background-image: url("../assets/background-3.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: "Cutive Mono", monospace;
  letter-spacing: -1px;
  h1 {
    letter-spacing: normal;
  }
  h2 {
    letter-spacing: -2px;
  }
  @media screen and (max-width: 500px) {
    background-image: url("../assets/background-1-mobile.png");
  }
}

span {
  color: #f07167;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 8vh;
  position: absolute;
  z-index: 999;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f07167;
    a {
      color: white;
      text-decoration: none;
    }
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: black;
      border: 1px solid white;
      a {
        color: white;
      }
    }
  }
  .active {
    a {
      color: black;
    }
    background-color: white;
    border: 1px solid black;
  }

  @media screen and (max-width: 500px) {
    height: 4.5vh;
  }
}

// sections

section {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  height: 84vh;
  width: 100vw;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  h1 {
    margin: 0;
    padding: 20px 0 0 40px;
  }
  p {
    width: 40vw;
    padding: 0 0 0 40px;
  }
  @media screen and (max-width: 500px) {
    height: 78vh;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 10px;
    h1 {
      padding: 10px 0 0 10px;
    }
    p {
      width: 90%;
    }
  }
}
.contact-section {
  height: 40vh;
}
.home {
  margin-top: 8vh;
  height: 24vh;
}

.home {
  background-color: black;
  color: white;
  justify-content: center;
  .typewriter {
    strong {
      border-right: 1px solid #f07167;
      animation: caret 1s steps(1) infinite;
      color: #f07167;
    }
    @keyframes caret {
      50% {
        border-color: transparent;
      }
    }
  }
  h1 {
    margin: 0 60px;
    padding: 0;
  }
  @media screen and (max-width: 500px) {
    justify-content: flex-start;
    h1 {
      margin: 10px;
    }
  }
}

.about {
  background-color: white;
  a {
    text-decoration: none;
    color: #f07167;
  }
  .section-main {
    margin-right: 10vw;
    display: flex;
    overflow: scroll;
    margin-bottom: 20px;
    .about-me {
      width: 50vw;
      padding-left: 20px;
      .andy-stats {
        display: flex;
        img {
          width: 200px;
          height: 200px;
          margin: 20px;
          padding-left: 20px;
        }
        .stats {
          margin: 20px 0 0 0;
          p {
            width: 100%;
            margin: 0;
            padding: 5px 0;
            font-size: 12px;
          }
        }
      }
      .read-more-btn {
        color: #f07167;
      }
    }
    .read-more {
      display: none;
      margin: 50px 0 0 0;
      .show-skills-btn {
        color: #f07167;
      }
    }
    .skills {
      // display: none;
      width: 48vw;
      padding-left: 20px;
      .technologies {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 20px 0 0 0;
        .tech-skill {
          width: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 46px;
          padding: 10px;
          color: #f07167;
          p {
            font-size: 16px;
            width: 100%;
            margin: 5px 0 0 0;
            padding: 0;
            text-align: center;
            color: black;
          }
        }
      }
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
      overflow: scroll;
      .skills,
      .about-me {
        width: 94%;
        h1 {
          margin: 10px 0 0 10px;
          padding: 0;
        }
        p {
          padding: 0;
          margin: 10px 0 0 10px;
        }
      }
      .about-me {
        .andy-stats {
          flex-direction: column;
          img {
            margin: 0;
            padding: 5px;
          }
          .stats {
            margin: 10px 0 0 10px;
          }
        }
      }
      .skills {
        margin-top: 20px;
        .technologies {
          width: 94%;
          .tech-skill {
            font-size: 30px;
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.portfolio {
  background-color: black;
  color: white;
  .section-header {
    padding-left: 20px;
  }
  .section-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .grid {
      display: grid;
      grid-template-columns: 35vw 35vw;
      column-gap: 30px;
      row-gap: 30px;
      .project {
        width: 100%;
        height: 30vh;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        .hover-content {
          // display: none;
          height: 0;
          background-color: rgba(255, 255, 255, 0.95);
          color: black;
          h2 {
            display: none;
            margin: 0;
            padding: 20px;
            font-size: 20px;
            @media screen and (max-width: 500px) {
              font-size: 12px;
              padding: 10px;
            }
          }
          a {
            display: none;
            padding: 20px;
            text-decoration: none;
            color: #f07167;
            @media screen and (max-width: 500px) {
              font-size: 10px;
              padding: 10px;
              padding-top: 0;
            }
          }
          transition: 0.5s;
        }
        &:hover {
          .hover-content {
            height: 100%;
            display: block;
            h2,
            a {
              display: block;
            }
          }
        }
      }
      @media screen and (max-width: 500px) {
        grid-template-columns: 74vw;
        .project {
          height: 10vh;
        }
      }
      .proj-one {
        background-image: url("../assets/jobr.png");
      }
      .proj-two {
        background-image: url("../assets/hikr.png");
        background-position: center;
      }
      .proj-three {
        background-image: url("../assets/dinder.png");
      }
      .proj-four {
        background-image: url("../assets/battleships.png");
      }
    }
  }
}

.project-show {
  background-color: black;
  color: white;

  .section-header {
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 20px 0 20px;
      padding: 5px 8px;
      border: 1px solid white;
      border-radius: 3px;
      background-color: #f07167;
      color: white;
      text-decoration: none;
      @media screen and (max-width: 500px) {
        margin: 10px;
      }
    }
    .jobr {
      font-family: "Permanent Marker", cursive;
    }
    .hikr {
      font-family: "Amatic SC", cursive;
      font-weight: 700;
      font-size: 30px;
    }
    .dinder {
      font-family: Arial, Helvetica, sans-serif;
    }
    .battleships {
      font-family: "Orbitron", sans-serif;
    }
  }
  .section-main {
    margin: 20px 160px 40px 20px;
    height: 100%;
    overflow: scroll;
    a {
      text-decoration: none;
      color: #f07167;
    }
    .project-images {
      width: 70vw;
      margin: 20px;
      img {
        width: 100%;
        padding-bottom: 20px;
        border-radius: 10px;
      }
    }
    @media screen and (max-width: 500px) {
      margin: 10px;
      p {
        padding: 0 0 10px 0;
      }
      .project-images {
        width: 86vw;
        margin: 0;
        img {
          padding-bottom: 10px;
          border-radius: 5px;
        }
      }
    }
  }
}

.contact {
  background-color: white;
  .section-main {
    a {
      text-decoration: none;
      font-weight: bold;
      color: #f07167;
    }
    .links {
      display: flex;
      margin: 0 0 0 30px;
      font-size: 40px;
      a {
        padding: 0 10px;
      }
    }
    @media screen and (max-width: 500px) {
      p {
        margin: 10px;
        padding: 0;
      }
      .links {
        margin: 0;
        a {
          margin: 0;
        }
      }
    }
  }
}
