body {
  background-image: url("../assets/background-2.png");
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: "Cutive Mono", monospace;
  letter-spacing: -1px;
}
body h1 {
  letter-spacing: normal;
}
body h2 {
  letter-spacing: -2px;
}

span {
  color: #f07167;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 8vh;
  margin-left: 20px;
  overflow: hidden;
  top: 0px;
  position: absolute;
  z-index: 999;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #f07167;
  color: white;
  text-decoration: none;
}
nav a:hover, nav a:active {
  background-color: black;
  border: 1px solid white;
}
@media screen and (max-width: 500px) {
  nav {
    height: 4.5vh;
    margin-left: 0;
    justify-content: center;
  }
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  height: 84vh;
  width: 100vw;
}
section h1 {
  margin: 0;
  padding: 20px 0 0 20px;
}
section p {
  width: 50vw;
  padding: 20px 0 0 20px;
}
@media screen and (max-width: 500px) {
  section {
    height: 78vh;
    font-size: 12px;
  }
  section h1 {
    padding: 10px 0 0 10px;
  }
  section p {
    width: 90%;
  }
}

.home {
  background-color: black;
  color: white;
}

.about {
  background-color: white;
}
.about .section-main {
  margin-right: 10vw;
}
.about .section-main .technologies {
  margin: 20px;
  color: #f07167;
  font-size: 50px;
}
@media screen and (max-width: 500px) {
  .about .section-main .technologies {
    font-size: 20px;
  }
}

.portfolio {
  background-color: black;
  color: white;
}
.portfolio .section-main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .section-main .grid {
  display: grid;
  grid-template-columns: 35vw 35vw;
  column-gap: 30px;
  row-gap: 30px;
}
.portfolio .section-main .grid .project {
  width: 100%;
  height: 30vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
.portfolio .section-main .grid .project .hover-content {
  height: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  transition: 0.5s;
}
.portfolio .section-main .grid .project .hover-content h2 {
  display: none;
  margin: 0;
  padding: 20px;
  font-size: 20px;
}
@media screen and (max-width: 500px) {
  .portfolio .section-main .grid .project .hover-content h2 {
    font-size: 12px;
    padding: 10px;
  }
}
.portfolio .section-main .grid .project .hover-content a {
  display: none;
  padding: 20px;
  text-decoration: none;
  color: #f07167;
}
@media screen and (max-width: 500px) {
  .portfolio .section-main .grid .project .hover-content a {
    font-size: 10px;
    padding: 10px;
    padding-top: 0;
  }
}
.portfolio .section-main .grid .project:hover .hover-content {
  height: 100%;
  display: block;
}
.portfolio .section-main .grid .project:hover .hover-content h2, .portfolio .section-main .grid .project:hover .hover-content a {
  display: block;
}
@media screen and (max-width: 500px) {
  .portfolio .section-main .grid {
    grid-template-columns: 74vw;
  }
  .portfolio .section-main .grid .project {
    height: 10vh;
  }
}
.portfolio .section-main .grid .proj-one {
  background-image: url("../assets/jobr.png");
}
.portfolio .section-main .grid .proj-two {
  background-image: url("../assets/hikr.png");
  background-position: center;
}
.portfolio .section-main .grid .proj-three {
  background-image: url("../assets/dinder.png");
}
.portfolio .section-main .grid .proj-four {
  background-image: url("../assets/battleships.png");
}

.project-show {
  background-color: black;
  color: white;
}
.project-show .section-header {
  display: flex;
  justify-content: space-between;
}
.project-show .section-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0 20px;
  padding: 5px 8px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #f07167;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .project-show .section-header a {
    margin: 10px;
  }
}
.project-show .section-header .jobr {
  font-family: "Permanent Marker", cursive;
}
.project-show .section-header .hikr {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 30px;
}
.project-show .section-header .dinder {
  font-family: Arial, Helvetica, sans-serif;
}
.project-show .section-header .battleships {
  font-family: "Orbitron", sans-serif;
}
.project-show .section-main {
  margin: 20px 160px 40px 20px;
  height: 100%;
  overflow: scroll;
}
.project-show .section-main p {
  margin: 0;
}
.project-show .section-main a {
  text-decoration: none;
  color: #f07167;
}
.project-show .section-main .project-images {
  width: 70vw;
  margin: 20px;
}
.project-show .section-main .project-images img {
  width: 100%;
  padding-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .project-show .section-main {
    margin: 10px;
  }
  .project-show .section-main p {
    padding: 0 0 10px 0;
  }
  .project-show .section-main .project-images {
    width: 86vw;
    margin: 0;
  }
  .project-show .section-main .project-images img {
    padding-bottom: 10px;
  }
}

.contact {
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
